<div class="container" style="color:white">


    <br>
    <br>

    <h1 align="center">Welcome! You are currently using <span style="text-transform: uppercase">{{ctrl.data.os}}</span></h1>
    <br>

    <div style="font-size: larger; margin-bottom: 10px" align="center">
        <div ng-if="ctrl.data.os === 'mac'">
            <h3>
                Download the game using this <a href="resources/images/osx.png" download>link</a>
            </h3>
        </div>

        <div ng-if="ctrl.data.os === 'windows'">
            <h3>
                Download the game using this <a href="resources/images/windows.png" download>link</a>
            </h3>
        </div>

        <div ng-if="ctrl.data.os === 'linux'">
            <h3>
                Download the game using this <a href="resources/images/linux.png" download>link</a>
            </h3>
        </div>

        <div ng-if="ctrl.data.os === 'ios'">
            <h3>
                Download the game using this <a href="resources/images/ios.png" download>link</a>
            </h3>
        </div>

        <div ng-if="ctrl.data.os === 'android'">
            <h3>
                Download the game using this <a href="resources/images/android.png" download>link</a>
            </h3>
        </div>
    </div>

    <h4 align="center">Check out our other supported platforms:
        <div style="font-size: x-large">
            <br>
            <a href="resources/images/windows.png" download> Windows </a>
            <br>
            <a href="resources/images/osx.png" download> MAC OS </a>
            <br>
            <a href="resources/images/ios.png" download> iOS </a>
            <br>
            <a href="resources/images/android.png" download> Android </a>
            <br>
            <a href="resources/images/linux.png" download> Linux </a>
        </div>
    </h4>

</div>