<div class="container">
    <div style="color: gold" ng-controller="downloadCtrl as vm">
        <br>
        <br>

        <!--<p>You are using <b>{{vm.data.browser}}</b> on <b>{{vm.data.os}} ({{vm.data.os_version}})</b>.</p>-->
        <!--<p>Your <b>{{vm.data.browser}}</b> version is <b>{{vm.data.browser_version}}</b></p>-->
        <!--<p>Device - <b></b>{{vm.data.device}}</p>-->

        <div ng-if="vm.data.os === 'mac'">
            <meta http-equiv="refresh" content="5; URL='http://itunes.apple.com'" />


            <h3>
               If you were not redirected in 5 seconds, please click <a href="http://itunes.apple.com"> here </a> to download for OS X platform!
            </h3>

        </div>

        <div ng-if="vm.data.os === 'windows'">
            <meta http-equiv="refresh" content="5; URL='http://microsoft.com/store/apps/windows'" />

            <h3>
                If you were not redirected in 5 seconds, please click <a href="http://microsoft.com/store/apps/windows"> here </a> to download for Windows platform!
            </h3>
        </div>

        <div ng-if="vm.data.os === 'linux'">

            <h3>
               Since there is no store for Linux, please click <a href="#/redirect"> here </a> to download this game for Linux!
            </h3>
        </div>

        <div ng-if="vm.data.os === 'ios'">
            <meta http-equiv="refresh" content="5; URL='http://itunes.apple.com'" />

            <h3>
                If you were not redirected in 5 seconds, please click <a href="http://itunes.apple.com"> here </a> to download for iOS platform!
            </h3>
        </div>

        <div ng-if="vm.data.os === 'android'">
            <meta http-equiv="refresh" content="5; URL='http://play.google.com/store'" />

            <h3>
                If you were not redirected in 5 seconds, please click <a href="http://play.google.com/store"> here </a> to download for Android platform!
            </h3>
        </div>

        <div ng-if="vm.data.os !== 'mac' && vm.data.os !== 'windows' && vm.data.os !== 'linux' && vm.data.os !== 'ios' && vm.data.os !== 'android' ">
            <h1>
                PLATFORM NOT SUPPORTED!
            </h1>
            <h3>
                SUPPORT COMING NEVER!
            </h3>
        </div>
    </div>
</div>