.landing{
    height: 100%;
    background-image: url('../images/nittacraft_wholepic.jpg') !important;
    text-align: center;
}
.landing h2{
    color: white;
}
.landing a{
    color: greenyellow;
}

.signup {
    text-align: center;

}
.signup input {
    margin: 0 auto;

}