.landing {
    height: 100%;
    zoom: 110%;
    /*background: no-repeat center fixed url('../images/simplelanding.jpg') !important;;
    background: border-box; zoom: 110%;
    padding: 50px;*/
    background-color: darkgray;
}

#background{
    height: 675px;
    background: no-repeat center fixed url('../images/simplelanding.jpg') !important;;
    background: border-box; zoom: 110%;
    padding: 50px;
}

.intro{
    background:  no-repeat center fixed url("../images/W1.jpg"); !important;
    opacity: 0.9;
    font-family: inkferno;
    display: inline-block;
    width:1217px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.all_maps{
    display: inline-block;
    *display: inline;
    vertical-align:top;
    height: 50%;
}

.all_icons{
    display: inline-block;
    *display: inline;
    vertical-align:top;
    height: 10%;
    margin-right: 25px;
}

@font-face{
    font-family: "inkferno";
    src: url('../fonts/INKFERNO.ttf'),
    url('../fonts/INKFERNO.ttf'); /* IE */
}

@font-face{
    font-family: "lifecraft";
    src: url('../fonts/LifeCraft_Font.ttf'),
    url('../fonts/LifeCraft_Font.ttf'); /* IE */
}

.forum-page {
    overflow: auto;
    min-height: 100%;
    background: #00d2ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #00d2ff , #3a7bd5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #00d2ff , #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.forums-page{
    overflow: auto;
    min-height: 100%;
    background: aliceblue; /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to left, #00d2ff , #3a7bd5); !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to left, #00d2ff , #3a7bd5); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
}

.landing h2 {
    color: white;
}

.landing a {
    color: greenyellow;
}

.signup {
    text-align: center;
}

.signup input {
    margin: 0 auto;
}

main {
    padding-top: 50px;
}

.clickable {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.forum-list-item:hover{
    background-color: whitesmoke;
}