
main {

    padding-top: 40px;
    font-family: 'Pontano Sans', sans-serif;

}
nav {
    font-family: 'Pontano Sans', sans-serif;
}

.warningBanner {
    text-align: center;
    background-color: darkred;
    font-size: 20px;
    padding-top: 20px;
}

.userLists {
    background-color: lightslategray;
    width: 50%;

    position: relative;
    top: 100px;
    border-radius: 15px;
    font-size: 20px;
}

.userLists a {
    text-decoration: none;
    color: mediumspringgreen;
    font-weight: bold;
}

.userLists a:hover {
    color: aquamarine;
}

.loginContainer {

    position: relative;
    top: 100px;
    width: 75%;
    height: 75%;
    background-color: lightslategray;
    border-radius: 10px;
}

.loginBox {

    height: 100%;
    border-right: 5px solid black;

}

.loginBox form {
    padding: 25px;
}

.signupBox form {
    padding: 25px;

}

.recoverContainer {
    position: relative;
    top: 100px;
    left: 30%;
    width: 30%;
    height: 30%;
    background-color: lightslategray;
    border-radius: 10px;
}



.forum-page {
    overflow: auto;
    min-height: 100%;
    background: #00d2ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #00d2ff , #3a7bd5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #00d2ff , #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.forums-page{
    overflow: auto;
    min-height: 100%;
    background: steelblue; /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to left, #00d2ff , #3a7bd5); !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to left, #00d2ff , #3a7bd5); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
}


.clickable {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.forum-list-item:hover{
    background-color: whitesmoke;
}



.maps-page{
    overflow: auto;
    min-height: 100%;
    background-color: beige;

}

.profileContainer {

    background-color: lightslategray;
    padding: 30px;
    border-radius: 10px;
    position: relative;
    top: 100px;
}

.inboxContainer {
    background-color: lightslategrey;
    border-radius: 10px;
    position: relative;
    left: 25%;
    top: 100px;
    padding: 30px;

}

