<div class="container-fluid" ng-init="ctrl.init()">
    <div class="col-sm-3 col-md-3" >

    </div>
    <div class="col-md-6 col-sm-6 inboxContainer " style="color:black">

        <h3 style="display:inline-block">Messages</h3>

        <button type="button" class="btn btn-primary pull-right" ng-click="ctrl.isSendingMessage = true"
                ng-if="!ctrl.isSendingMessage" style="margin:30px">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> New Message
        </button>

        <div ng-if="ctrl.isSendingMessage" class="col-sm-6">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="title">To:</label>
                    <input id="title" class="form-control" type="text" ng-model="newMessage.receiver"
                           placeholder="username">
                </div>
                <div class="form-group">
                    <label for="text">Message:</label>
                    <textarea id="text" class="form-control" maxlength="1000" rows="3"
                              ng-model="newMessage.body"></textarea>
                </div>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-info pull-right" style="margin-left: 20px;"
                        ng-click="ctrl.sendMessage(newMessage)"
                        ng-disabled="!newMessage.receiver || !newMessage.body">Send
                </button>
                <button class="btn btn-danger pull-right" ng-click="ctrl.isSendingMessage= false">Cancel</button>
                <span>{{ctrl.statusMessage}}</span>
            </div>
        </div>
        <br>
        <br>
        <br>

        <div class="col-md-12" style="padding-top: 0px">
            <div class="panel panel-info col-xs-12" style="padding: 0">
                <div class="panel-heading">
                    Conversations
                </div>
                <div class="panel-body" style="padding: 0">
                    <div ng-repeat="conversation in ctrl.conversations track by conversation.id" style="color:black">
                        <div href class="clickable col-xs-12 panel-body forum-list-item"
                             style="border-bottom: 1px solid #e4e4e4" ng-click="ctrl.goToConversation(conversation.id)">
                            <div class="col-md-3" style="display: inline-block"
                                 ng-if="ctrl.currentUser.username != conversation.user1.username">

                                <img height="75px" width="75px" class="pull-left"
                                     style="margin-right: 10px" ng-src="{{conversation.user1.avatarUrl}}">

                                <div class="col-md-8 col-xs-6" style="padding: 0">
                                    <h5>{{conversation.user1.username}}</h5>
                                </div>
                            </div>
                            <div class="col-md-3" style="display: inline-block"
                                 ng-if="ctrl.currentUser.username != conversation.user2.username">

                                <!--<img height="75px" width="75px" class="pull-left"-->
                                <!--style="margin-right: 10px" ng-src="{{conversation.user2.avatarUrl}}">-->

                                <img height="75px" width="75px" class="pull-left" style="margin-bottom: 10px"
                                     ng-if="conversation.user2.avatarUrl" ng-src="{{conversation.user2.avatarUrl}}">
                                <img height="75px" width="75px" class="pull-left" style="margin-bottom: 10px"
                                     ng-if="!conversation.user2.avatarUrl" src="resources/images/noImage.jpg">

                                <div class="col-md-8 col-xs-6" style="padding: 0">
                                    <h5>{{conversation.user2.username}}</h5>
                                </div>
                            </div>
                            <div class="col-md-9 text-center">
                                <h4>{{conversation.lastMessage}}</h4>
                                <h5>at: {{conversation.lastMessageTime | date: 'medium'}}</h5>
                            </div>

                            <!--<h2 class="col-md-6" style="margin-top: 0; font-family: monospace; font-size: xx-large"> <span ng-if="post.title.length > 40">...</span></h2>-->
                            <!--<span class="col-md-2 pull-right"><small>Comments: </small><span class="badge"> {{post.comments_length}}</span></span>-->
                            <!--<div class="col-xs-9">-->
                            <!--<p>{{conversation.lastMessage | limitTo: 75}}<span ng-if="post.text.length > 75">...</span></p>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>

            <p style="text-align: center" ng-if="ctrl.conversations.length === 0">You have no messages.</p>
        </div>
    </div>
</div>
