<div class="container-fluid" ng-init="ctrl.init()">
    <div class="container profileContainer" ng-if="ctrl.profileUser.id">
        <div class="row">
            <div class="col-md-4">
                <img ng-if="!ctrl.profileUser.avatarUrl" ng-src="resources/images/default_avatar.png" height="200" width="200">
                <img ng-if="ctrl.profileUser.avatarUrl" ng-src="{{ctrl.profileUser.avatarUrl}}" height="200" width="200">
            </div>
            <div class="col-md-8">
                <h1>{{ctrl.profileUser.username}}</h1>
                <!-- <span>North America [Region]</span> -->
                <hr>
                <h2>
                    ELO Rating: {{ctrl.profileUser.elo}}
                </h2>
                <h3>
                    Wins: {{ctrl.profileUser.win}}
                    <br/>
                    Losses: {{ctrl.profileUser.loss}}
                </h3>
            </div>
        </div>
    </div>

    <div class="panel panel-info col-xs-12 col-md-12" style="padding: 0; position: relative; top: 120px">
        <!-- Header of Panel -->
        <div class="panel-heading panel-heading-custom">
            Match History
        </div>

        <!-- Body of Panel -->
        <div class="panel-body" style="padding: 0">

            <div ng-if="ctrl.matchHistoryFound == false">{{ctrl.message}}</div>

            <div class="row" ng-repeat="matchHistory in ctrl.matchHistory">
                <div href class="col-xs-12 col-md-12 panel-body" style="border-bottom: 1px solid #e4e4e4">
                    <div class="col-md-4 col-xs-12" style="display: inline-block">
                        <p>Completed: {{ctrl.ConvertDate(matchHistory.matchResult.date)}}</p>
                        <p>ELO: {{matchHistory.elo}}</p>
                        <p>Map: {{matchHistory.matchResult.mapname}}</p>
                        <p ng-if = "matchHistory.won == true">WIN</p>
                        <p ng-if = "matchHistory.won == false">LOSS</p>
                    </div>

                    <div class="col-md-6">
                        <h3>
                            <u>Winners</u>
                        </h3>
                        <h3>
                           <div class="clickable" ng-repeat="winner in matchHistory.matchResult.winners" ng-click = "ctrl.goToProfile(winner)">
                               {{winner}}
                           </div>
                        </h3>
                    </div>

                    <div class="col-md-2">
                        <h3>
                           <u>Losers</u>
                        </h3>
                        <h3>
                        <div class="clickable" ng-repeat="loser in matchHistory.matchResult.losers" ng-click = "ctrl.goToProfile(loser)">
                            {{loser}}
                        </div>
                        </h3>
                    </div>

                </div>
            </div> <!--end row -->

        </div>

    </div>

</div>