<body>
    <div class="container-fluid" ng-init="ctrl.init()" align="center">

        <!------- Headers ------->
            <h1>{{ctrl.message}}</h1>
            <h1>{{ctrl.message2}}</h1>
            <br>
            <h2>Sign-Up</h2>
            <br>
        <!------- Headers ------->

        <div id = "signUpMessage"> </div>

        <label>Username</label>
        <input type="text" ng-model="user.username">
        <br>
        <label>Password</label>
        <input type="password" ng-model="user.password">
        <br>
        <button ng-click="ctrl.signUp(user)" ng-disabled="!user.username || !user.password"> Submit </button>
    </div>
</body>