<div class="container-fluid" ng-init="ctrl.init()" style="color: white">

    <div class="col-md-6 col-xs-12">
        <h3>Currently on website</h3>
        <div ng-repeat="user in ctrl.onsiteUsers">
            <a href ng-click="ctrl.goToUserProfile(user)" style="font-size: larger">{{user.username}}</a>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <h3>Currently on platform</h3>
        <div ng-repeat="user in ctrl.onlineUsers">
            <a href ng-click="ctrl.goToUserProfile(user)" style="font-size: larger">{{user.username}}</a>
        </div>
    </div>
</div>