<form class="form-register col-md-12 col-sm-12">

    <!--<div style="font-size: x-large">-->
        <!--<b>-->
            <!--Notification Settings-->
        <!--</b>-->
    <!--</div>-->
    <br>

    <div class="form-group col-md-11 col-sm-11">
        <label class="col-md-4"><span class="pull-right">Message notifications</span></label>
        <div class="col-md-8 pull-right">
            <label><input type="radio" ng-model="ctrl.settings.notifications" ng-value="true"> Enable </label>
            <br>
            <label><input type="radio" ng-model="ctrl.settings.notifications" ng-value="false"> Disable </label>
        </div>
    </div>
    <br>
    <br>

    <div class="form-group col-md-11" ng-if="ctrl.settings.notifications">
        <label class="col-md-4"><span class="pull-right">Delay</span></label>
        <div class="col-md-8 pull-right">
            <input type="number" class="form-control" ng-model="ctrl.settings.delay" min="0">
            <p class="small">Note: Any value of 0 indicates immediate notification</p>
        </div>
    </div>


    <div class="form-group col-md-11" ng-if="ctrl.settings.notifications">
        <label class="col-md-4"><span class="pull-right">Delay unit</span></label>
        <div class="col-md-8 pull-right">
            <select ng-options="option.name as option.name for option in ctrl.delayUnitOptions" ng-model="ctrl.settings.delayUnit"></select>
            <br>
            <br>
        </div>
    </div>



    <button class="btn btn-lg btn-primary btn-block"
            type="submit" ng-click="ctrl.submitSettings()"
            style="margin-bottom: 5px">Save Settings</button>

    <span ng-if="ctrl.showNotificationsMessage">{{ctrl.message}}</span>
</form>