<div class="container" ng-init="ctrl.init()">

    <div class="col-md-12 col-xs-12">
        <h1 style="color: white; font-family: 'IM Fell Great Primer SC', serif; font-size: 46px;" align="left">
            <b>Settings</b>
        </h1>
    </div>

    <div class="col-md-12 col-xs-12" style="background-color: burlywood">
        <div class="form-group col-md-6">
            <form class="form-register">

                <h2 style="color: #860038; font-family: 'IM Fell Great Primer SC', serif;" align="left">
                    <b>User Information</b>
                </h2>

                <div class="form-group col-md-11">
                    <label class="col-md-3"><span class="pull-right">First</span></label>
                    <div class="col-md-9 pull-right">
                        <input type="text" class="form-control" ng-model="ctrl.currentUser.firstName">
                    </div>
                </div>
                <div class="form-group col-md-11">
                    <label class="col-md-3"><span class="pull-right">Last</span></label>
                    <div class="col-md-9 pull-right">
                        <input type="text" class="form-control" ng-model="ctrl.currentUser.lastName">
                    </div>
                </div>
                <div class="form-group col-md-11">
                    <label class="col-md-3"><span class="pull-right">Email</span></label>
                    <div class="col-md-9 pull-right">
                        <input type="text" class="form-control" ng-model="ctrl.currentUser.email" disabled>
                    </div>
                </div>
                <div class="form-group col-md-11">
                    <label class="col-md-3"><span class="pull-right">Password</span></label>
                    <div class="col-md-9 pull-right">
                        <input type="password" class="form-control" ng-model="ctrl.currentUser.password">
                    </div>
                </div>
                <div class="form-group col-md-11" ng-init="ctrl.currentUser.pass2 = ctrl.currentUser.password">
                    <label class="col-md-3"><span class="pull-right">Re-type password</span></label>
                    <div class="col-md-9 pull-right">
                        <input type="password" class="form-control" ng-model="ctrl.currentUser.pass2">
                    </div>
                </div>
                <div class="form-group col-md-11">
                    <label class="col-md-3"><span class="pull-right">Username</span></label>
                    <div class="col-md-9 pull-right">
                        <input type="text" class="form-control" ng-model="ctrl.currentUser.username" disabled>
                    </div>
                </div>

                <button class="btn btn-lg btn-primary btn-block"
                        ng-disabled="ctrl.currentUser.password !== ctrl.currentUser.pass2"
                        type="submit" ng-click="ctrl.edit(ctrl.currentUser);"
                        style="font-family: 'IM Fell Great Primer SC', serif;">Save Settings</button>

                <span ng-if="ctrl.showMessage">{{ctrl.message}}</span>
            </form>
        </div>
    </div>
</div>
