<div class="container" ng-init="ctrl.init()">

    <div class="col-md-12 col-xs-12">
        <h1 style="color: white; font-family: 'IM Fell Great Primer SC', serif; font-size: 46px;" align="left">
            <b>Settings</b>
        </h1>
    </div>

    <div class="col-md-12 col-xs-12" style="background-color: burlywood">
        <div class="form-group" style="padding: 20px; width: 300px">
            <form class="form-register">

                <h2 style="color: #860038; font-family: 'IM Fell Great Primer SC', serif;" align="left">
                    <b>User Information</b>
                </h2>

                <span class="pull-left" style="font-family: 'Open Sans', serif;color: #8d1d1c; font-size: large">
                    <b>Username:</b>
                    CNITTA2016

                    <br/>
                        Name: Chris Nitta
                        [Change]

                    <br/>
                    <br/>
                    <br/>
                </span>

                <br/>
                <br/>

                <span class="pull-left" style="font-family: 'Open Sans', serif;color: #8d1d1c;">
                    Change First Name:
                </span>

                <!-- ctrl.user.first is the dabtabase property for that user it is local copy of db -->
                <input type="text" ng-model="ctrl.user.firstname" class="form-control" maxlength="64">
                <br/>

                <span class="pull-left" style="font-family: 'Open Sans', serif;color: #8d1d1c;">
                    Change Last Name:
                </span>
                <input type="text" ng-model="ctrl.user.lastname" class="form-control" maxlength="64">
                <br/>



                <!--
                <br/>
                <input type="password" ng-model="user.setPassword" class="form-control" maxlength="15">
                <br/>

                <span class="pull-left"
                      style="font-family: 'Open Sans', serif;color: #8d1d1c;">Biography (160 Characters Max.)
                </span>

                <textarea name="myTextBox" cols="30" rows="5">
                This textbox has been given a name of "myTextBox". This can be used by any script that process
                    the contents of this textbox (once it's been submitted to the server).
                </textarea>
                -->

            </form>


            <!-- ng-disabled="!user.username || !user.password"
             user = is user defined but maust match controotller paramet in .js
             ctrl.____ nedds to matk ctorl definiont ins .js

            -->


            <!-- edit(ctrl.user) found in js -->
            <button class="btn btn-lg btn-primary btn-block"
                    type="submit" ng-click="ctrl.edit(ctrl.user);"
                    style="font-family: 'IM Fell Great Primer SC', serif;">
                Save Settings
            </button>

        </div>
    </div>
</div>
