<div class="container" ng-init="ctrl.init()">

    <div class="col-md-12 col-xs-12" style="color: white">
        <h1 style="font-family: 'IM Fell Great Primer SC', serif; font-size: 46px;" align="left">
            <b>Settings</b>
        </h1>
        <div ng-if="ctrl.noUser">
            <span>Please <a ng-href="#/login">log in</a> to see your settings</span>
        </div>
    </div>

    <div class="col-xs-12" style="background-color: burlywood" ng-if="ctrl.currentUser.id">
        <ul class="nav nav-tabs" style="font-family: IM Fell Great Primer SC; font-size: x-large">
            <li role="presentation" ng-class="{'active': ctrl.showUserTab}"><a ng-click="ctrl.showTab('user')" href>User Information</a></li>
            <li role="presentation" ng-class="{'active': ctrl.showNotificationsTab}"><a ng-click="ctrl.showTab('notifications')" href>Notifications</a></li>
        </ul>
        <!-- User Info -->
        <div class="form-group col-md-12" ng-if="ctrl.showUserTab" ng-include="'resources/scripts/controllers/settings/user.settings.html'"></div>
        <!-- Notifications -->
        <div class="form-group col-md-12" ng-if="ctrl.showNotificationsTab" ng-include="'resources/scripts/controllers/settings/notifications.settings.html'"></div>
    </div>
</div>