<div class="container-fluid" ng-init="ctrl.init()">

    <div class="page-header">
        <h1>Forums <small></small></h1>
    </div>

    <button class="btn btn-primary pull-right" style="margin-bottom: 20px" ng-click="ctrl.showForm = true" ng-if="!ctrl.showForm">New Post</button>

    <div ng-if="ctrl.showForm" class="col-xs-12 panel">
        <div class="col-xs-6">
            <div class="form-group col-md-7">
                <label for="title">Title</label>
                <input id="title" class="form-control" type="text" ng-model="newPost.title">
            </div>

            <div class="form-group col-md-12">
                <label for="text">Text</label>
                <textarea id="text" class="form-control" maxlength="500" rows="3" ng-model="newPost.text"></textarea>
            </div>
        </div>
        <div class="col-xs-12">
            <button class="btn btn-primary" ng-click="ctrl.post(newPost)" ng-disabled="!newPost.title || !newPost.text">Add post</button>
            <button class="btn btn-primary" ng-click="ctrl.showForm = false">Cancel</button>
        </div>
    </div>

    <div ng-repeat="post in ctrl.posts track by post.id">
        <div href class="clickable col-xs-12 panel-body" style="background-color: cornsilk; border-bottom: 1px solid black" ng-click="ctrl.goToPost(post)">
            <span class="col-md-3" style="font-size: large">{{post.title}}</span>
            <span class="col-md-3">
                <!--<img ng-if="post.user.artwork_url !== null" height="50px" width="50px" ng-src="{{post.user.artwork_url}}">-->
                <img height="50px" width="50px" src="resources/images/noImage.jpg">
                {{post.user.username}}
            </span>
            <span class="col-md-2">{{post.comments_length}}</span>
            <span class="col-md-2">{{post.date | date: 'short'}}</span>
        </div>
    </div>

</div>