<div ng-init="ctrl.init()" class="forum-page" style="color: gainsboro">

    <div ng-if="!ctrl.postFound" class="col-xs-12 panel-body">
        <h3>Post not found</h3>
    </div>

    <div ng-if="ctrl.postFound">
        <div class="col-xs-12 panel-body">
            <h1 style="font-family: monospace; color: white;">{{ctrl.post.title}}</h1>
        </div>

        <div class="col-md-3 col-xs-12 panel-body">
            <!-- User info -->
            <div class="col-xs-12" style="display: inline-block; padding-bottom: 10px; background-color: rgba(255,255,255,.1)">
                <!--<img ng-if="ctrl.post.user.artwork_url !== null" height="50px" width="50px" ng-src="{{ctrl.post.user.artwork_url}}">-->
                <img height="100px" width="100px" class="pull-left" style="margin-top: 10px; margin-right: 10px" src="resources/images/noImage.jpg">
                <div class="col-md-8" style="margin-top: 10px; padding: 0">
                    <h4 style="color: white">{{ctrl.post.user.username}}</h4>
                    <span>{{ctrl.post.date | date: 'medium'}}</span>
                </div>
            </div>
        </div>

        <div class="col-md-9 col-xs-12 panel-body">

            <!-- Text from the forum post -->
            <div class="jumbotron" style="margin-bottom: 0; background-color: rgba(255,255,255,.1)">
                <p style="padding: 10px; color: white">{{ctrl.post.text}}</p>
            </div>

            <div class="page-header col-xs-12" style="margin-top: 5px">
                <h3 style="display: inline-block">Comments <small class="badge" style="background-color: black">{{ctrl.post.comments.length}}</small></h3>
                <button class="btn btn-primary pull-right" style="margin-top: 20px" ng-if="!ctrl.post.showCommentForm" ng-click="ctrl.post.showCommentForm = true">Add Comment</button>

                <!-- Add comment form -->
                <div ng-if="ctrl.post.showCommentForm" class="col-xs-12 panel-body" style="padding: 0">
                    <!-- Text area for add comment form-->
                    <div class="form-group col-md-12">
                        <label for="comment">Text</label>
                        <textarea id="comment" class="form-control" maxlength="1000" rows="3" ng-model="newComment.text"></textarea>
                    </div>
                    <!-- Buttons for the add comment form -->
                    <div class="col-xs-12">
                        <button class="btn btn-primary" ng-click="ctrl.addComment(ctrl.post, newComment.text)" ng-disabled="!newComment.text">Add</button>
                        <button class="btn btn-primary" ng-click="ctrl.post.showCommentForm = false">Cancel</button>
                    </div>
                </div>

            </div>

            <div ng-repeat="comment in ctrl.post.comments" class="col-xs-12" style="border-bottom: dashed .1em grey">
                <div class="col-md-3 col-xs-12" style="display: inline-block; padding-bottom: 10px">
                    <!--<img ng-if="comment.user.artwork_url !== null" height="50px" width="50px" ng-src="{{comment.user.artwork_url}}">-->
                    <img height="75px" width="75px" class="pull-left" style="margin-right: 10px" src="resources/images/noImage.jpg">
                    <div class="col-md-8" style="padding: 0">
                        <h5 style="color: white">{{comment.user.username}}</h5>
                        <span>{{comment.date | date: 'medium'}}</span>
                    </div>
                </div>
                <span class="col-md-9 col-xs-12" style="margin-top: 10px; margin-bottom: 10px">{{comment.text}}</span>

                <!-- Edit comment -->
                <div ng-if="comment.showEditCommentForm" class="col-xs-12 panel-body" style="padding: 0">
                    <div class="form-group col-md-12">
                        <label for="editComment">Text</label>
                        <textarea id="editComment" class="form-control" maxlength="1000" rows="3" ng-model="comment.editText"></textarea>
                    </div>

                    <div class="col-xs-12">
                        <button class="btn btn-primary" ng-click="ctrl.editComment(ctrl.post, comment)" ng-disabled="!comment.editText">Submit</button>
                        <button class="btn btn-primary" ng-click="comment.showEditCommentForm = false">Cancel</button>
                    </div>
                </div>
                <button class="btn btn-primary pull-right" ng-if="!comment.showEditCommentForm" ng-click="comment.showEditCommentForm = true; comment.editText = comment.text">Edit Comment</button>
            </div>

        </div>
    </div>

</div>