<div ng-controller="NavCtrl as ctrl" ng-init="ctrl.init()">
    <nav class="navbar navbar-fixed-top navbar-inverse" style="margin-bottom: 0; background-color: #860038;">
        <div class="container-fluid" style="font-family: 'IM Fell Great Primer SC', serif;">

            <!-- Brand and toggle get grouped for better mobile display -->
            <!-- Section below only visible in mobile view -->
            <div class="navbar-header">
                <a role="button" href class="navbar-toggle collapsed" ng-click="ctrl.navCollapsed = !ctrl.navCollapsed">
                    <i class="fa fa-bars" style="color: white"></i>
                </a>
                <a style="color: gold" class="navbar-brand" href="#/">Home</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" ng-class="{'in' : ctrl.navCollapsed}">
                <ul style="font-size: large" class="nav navbar-nav">

                    <!--  <li><a href="#/about">About</a></li>  -->
                    <li><a style="color: gold"  href="#/maps">Maps</a></li>
                    <li><a style="color: gold"  href="#/rankings">Rankings</a></li>
                    <li><a style="color: gold"  href="#/forums">Forums</a></li>
                    <li><a style="color: gold" href="#/download">Download Game</a> </li>
                    <!--<li class="dropdown" ng-class="{'open': ctrl.toggleDropDown}">
                        <a href class="dropdown-toggle" ng-click="ctrl.toggleDropDown = !ctrl.toggleDropDown" role="button">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/signup">Login/Sign up</a></li>
                            <li><a href="#/">Landing</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href>Logout</a></li>
                        </ul>
                    </li>-->

                </ul>

                <!-- Login fields -->
                <ul class="nav navbar-nav navbar-right" style="margin-right: 3px">
                    <div class="navbar-form navbar-right" ng-if="ctrl.currentUser">
                        <div class="form-group">
                            <button class="btn btn-info" ng-click="ctrl.goToProfile()"> {{ctrl.currentUser.username}}'s
                                Profile
                            </button>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-danger" ng-click="ctrl.signOut()">Sign out</button>
                        </div>
                    </div>
                    <li ng-if="!ctrl.currentUser"><a href="#/login">Login or Signup</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>