<div class="container-fluid rankings-page" ng-init="ctrl.init()">

    <div class="page-header col-xs-12 col-md-12">
        <h1 style="display: inline-block; color: white"><b> ELO Ratings </b></h1>

        <div class="col-xs-12 col-md-12">
            <div class="panel panel-info col-xs-12" style="padding: 0">
                <div class="panel-heading col-md-1">
                    Rank
                </div>
                <div class="panel-heading col-md-1">
                    Elo
                </div>
                <div class="panel-heading col-md-6">
                    Username
                </div>
                <div class="panel-heading col-md-1">
                    Matches
                </div>
                <div class="panel-heading col-md-1">
                    Wins
                </div>
                <div class="panel-heading col-md-1">
                    Losses
                </div>
                <div class="panel-heading col-md-1">
                    Win %
                </div>

                <!-- NG Repeat for Forums Posted -->
                <div class="panel-body" style="padding: 0">
                    <div ng-repeat="user in ctrl.allUsers track by user.id">
                        <div class="col-xs-12 col-md-12 clickable" ng-click="ctrl.goToUserProfile(user)">
                            <div class="panel panel-info" style="padding: 0">
                                <div class="panel-body col-md-1">
                                    {{$index + 1}}
                                </div>
                                <div class="panel-body col-md-1">
                                    {{user.elo}}
                                </div>
                                <div class="panel-body col-md-6">
                                    {{user.username}}
                                </div>
                                <div class="panel-body col-md-1">
                                    {{user.win + user.loss}}
                                </div>
                                <div class="panel-body col-md-1">
                                    {{user.win}}
                                </div>
                                <div class="panel-body col-md-1">
                                    {{user.loss}}
                                </div>

                                <div class="panel-body col-md-1">
                                    <div ng-if="user.win + user.loss != 0">
                                        {{ctrl.winPercentage(user)}}
                                    </div>
                                    <div ng-if="user.win + user.loss == 0">
                                        --
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>