<div class="container-fluid" ng-init="ctrl.init()">



            <div class=" col-md-6 text-center" align="left">



                <div class="form-group signupContainer">

                    <form class="form-register">
                        <label class="pull-left">Username: </label>
                        <input type="text" ng-model="user.username" class="form-control" maxlength="15">
                        <label class="pull-left">Password: </label>
                        <input type="password" ng-model="user.password" class="form-control" maxlength="15">
                    </form>

                    <button class="btn btn-lg btn-primary btn-block" ng-disabled="!user.username || !user.password"
                            type="submit" ng-click="ctrl.signUp(user)">
                            Submit
                    </button>

                    <div style="margin: auto; width: 80%; padding: 10px">
                        <div style="color: darkgreen" ng-if="ctrl.statusFlag">{{ctrl.statusMessage}}</div>
                        <div style="color: maroon" ng-if="!ctrl.statusFlag">{{ctrl.statusMessage}}</div>
                    </div>
                </div>

            </div>

</div>
