<div ng-init="ctrl.init()">

    <div class="col-xs-12">

        <div class="form-group signupContainer col-md-5 col-xs-12">

            <a href ng-click="ctrl.showLogin = true; ctrl.showSignUp = false">Login</a>
            <a href ng-click="ctrl.showLogin = false; ctrl.showSignUp = true">Signup</a>

            <!-- Login Form -->
            <div class="text-center" ng-if="ctrl.showLogin && !ctrl.showSignUp">
                <h3>Login</h3>
                <form>
                    <div class="form-group">
                        <label class="pull-left">Username: </label>
                        <input type="text" class="form-control" name="username" placeholder="Username" align="left"
                               ng-model="user.username">
                    </div>
                    <div class="form-group">
                        <label class="pull-left">Password: </label>
                        <input type="password" class="form-control" name="password" placeholder="Password"
                               align="left" ng-model="user.password">
                    </div>
                    <button style="margin-right: 10px" type="submit" class="btn btn-lg btn-primary btn-block" ng-click="ctrl.login(user)">Login</button>
                </form>
                <div ng-if="ctrl.logInMessage">
                    <span>{{ctrl.logInMessage}}</span>
                </div>
            </div>

            <!-- Signup Form -->
            <div class="text-center" ng-if="!ctrl.showLogin && ctrl.showSignUp">
                <h3>Signup</h3>
                <form>
                    <div class="form-group">
                        <label class="pull-left">Username: </label>
                        <input type="text" ng-model="user.username" class="form-control" maxlength="15">
                    </div>
                    <div class="form-group">
                        <label class="pull-left">Password: </label>
                        <input type="password" ng-model="user.password" class="form-control" maxlength="15">
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" ng-disabled="!user.username || !user.password" type="submit" ng-click="ctrl.signUp(user)">Submit</button>
                </form>
                <div ng-if="ctrl.signUpMessage">
                    <span>{{ctrl.signUpMessage}}</span>
                </div>
            </div>

        </div>
    </div>
</div>