<div class="container-fluid topic-page" ng-init="ctrl.init()" xmlns="http://www.w3.org/1999/html">

    <div class="page-header col-xs-12">
        <h3><a href="#/forums/">Forums</a> >> {{ctrl.category}}</h3>

        <div ng-if="ctrl.canPost">
        <button ng-if="!ctrl.showForm" class="btn btn-primary pull-left" style="margin-top: 25px" ng-click="ctrl.showForm = true">
            <i class="fa fa-plus" aria-hidden="true"></i>New Post
        </button>
        </div>

        <div ng-if="!ctrl.canPost">
            <span><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Please log in to post.</span>
        </div>

        <!-- New Post UI -->
        <div ng-if="ctrl.showForm" class="col-xs-12 panel-body">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input id="title" class="form-control" type="text" ng-model="newPost.title">
                </div>

                <div class="form-group">
                    <label for="text">Text</label>
                    <textarea id="text" class="form-control" maxlength="1000" rows="3"
                              ng-model="newPost.text"></textarea>
                </div>
            </div>

            <!-- FILE UPLOAD UI -->
            <div ng-if="newPost.showUploadFile" class="col-xs-12 col-md-6 panel-body">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label>File</label>
                        <input type="file" ngf-select ng-model="newPost.file">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">

                    <button ng-disabled=true class="btn btn-default pull-left" ng-click="newPost.showUploadFile = true" style="margin-right: 5px">
                        <i class="fa fa-file-image-o" aria-hidden="true"></i> Add File
                    </button>

                <button ng-if="newPost.file" class="btn btn-default" ng-click="newPost.showUploadFile=false; newPost.file = null">
                    Remove File <i class="fa fa-times" aria-hidden="true"></i>
                </button>


                <button class="btn btn-success pull-right" ng-click="ctrl.post(newPost)"
                        ng-disabled="!newPost.title || !newPost.text">Add post
                </button>
                <button class="btn btn-primary pull-right" ng-click="ctrl.showForm = false" style="margin-right: 10px;">Cancel</button>
            </div>
        </div>
    </div>

    <!-- Display all Posts -->
        <div class="panel panel-info col-xs-12 col-md-12" style="padding: 0">
            <!-- Header of Panel -->
            <div class="panel-heading panel-heading-custom">
                {{ctrl.category}}
            </div>

            <!-- Body of Panel -->
            <div class="panel-body" style="padding: 0">

                <div ng-if="ctrl.noPosts">{{ctrl.message}}</div>

                <div class="row" ng-repeat="post in ctrl.posts track by post.id">
                    <div href class="clickable col-xs-12 col-md-12 panel-body forum-post-item" style="border-bottom: 1px solid #e4e4e4" ng-click="ctrl.goToPost(post)">
                        <div class="col-md-4 col-xs-12" style="display: inline-block">

                            <img class="avatar-image pull-left" src={{post.user.avatarUrl}}>

                                <h3>{{post.user.username}}</h3>
                                <span>{{post.date | date: 'medium'}}</span>

                        </div>

                        <div class="col-md-6">
                        <h3 style="margin-top: 10px; vertical-align: bottom;">
                            {{post.title | limitTo: 30}}<span ng-if="post.title.length > 30">...</span></h3>
                        </div>

                        <div class="col-md-2">
                            <span>
                                <i class="fa fa-comment-o fa-2x" aria-hidden="true"></i>
                                <b>{{post.comments_length}} </b>
                            </span>
                        </div>

                    </div>
                </div> <!--end row -->

            </div>

    </div>
    <!-- Display All Forums -->
</div>