<html>
<body>
<h3>Hi ${user.username}, looks like you forgot your password!</h3>
<p>
    Password: ${password.password}
</p>
<h3>If you wish to change your password, please visit your user settings at:</h3>
<p>
    ${settingsLink}
</p>
</body>
</html>