<div class="container-fluid" ng-init="ctrl.init()">

    <div class="container-fluid loginContainer">
        <div class="row">
                <div class="signupBox col-lg-6">

                    <h3> Sign up</h3>
                    <form class="form-register">
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label class="pull-left">First Name</label>
                                <input type="text" class="form-control" ng-model="user.firstName" placeholder="John" maxlength="20" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label class="pull-left">Last Name</label>
                                <input type="text" class="form-control" ng-model="user.lastName" placeholder="Smith" maxlength="20" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label class="pull-left">Email</label>
                                <input type="text" class="form-control" ng-model="user.email" placeholder="Johnsmith@gmail.com" maxlength="64"  />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label class="pull-left">Username</label>
                                <input type="text" ng-model="user.username" class="form-control" placeholder="Minimum 3 characters" maxlength="15" minlength="3" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label class="pull-left">Password</label>
                                <input type="password" ng-model="user.password" class="form-control" placeholder="Minimum 5 characters" maxlength="15" minlength="5" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label class="pull-left">Confirm Password</label>
                                <input type="password" ng-model="user.Cpassword" class="form-control"  placeholder="Retype password" maxlength="15" minlength="5" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <button class="btn btn-lg btn-primary btn-block"
                                        ng-disabled="!user.username || !user.password || !user.email || !user.firstName || !user.lastName || (user.password !== user.Cpassword)"
                                        type="submit" ng-click="ctrl.signUp(user)">Submit</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <
                </div>
            </div>
    </div>
</div>